@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
padding: 0;
margin: 0;
text-decoration: none;
box-sizing: border-box;
list-style:none;
font-family: 'Inter', sans-serif;
}

:root{
--cinza:#4474747;
--rosa:#c92071;
--rosa-hover:#b11c64;
--l-space: 0.75px;
}

header{
    background-color: #FFFFFF;
    padding:25px 128px;
}
header figure{
    display: flex;
    align-items: center;

}

header figure img {
width: 23px;
height: 23px;
display: block;
}
header figure h1{
font-size: 24px;
line-height: 30px;
margin-left: 6px;
color: #c92071;
}

#loguin{
    background: linear-gradient(180deg, #B5B6F2 0%, #EFEFFF 100%);
    padding: 120px 100px;
    display: flex;
}
#loguin .esquerda , #loguin .esquerda{
width: 50%;
}

#loguin form{
width: 583px;
background-color: #FFFFFF;
border-radius: 4px;
padding: 30px;
}

#loguin form h2{
line-height: 36px;
font-size: 32px;
color: #1f1f1f;
letter-spacing:1px;
}
#loguin form p{
font-size: 16px;
color:var(--cinza);
letter-spacing: 0.75px;
line-height: 28px;
margin-top: 20px;
margin-bottom:30px;
}

#loguin form label {
    font-size: 12px;
    line-height: 24px;
    color: #474747;
    letter-spacing: 0.75px;
    display:block;
    font-weight: bold;
    margin-bottom: 5px;
}

#loguin form input{
width: 100%;
height: 60px;
border-radius: 8px;
padding: 0 25px;
background-color: #47474710;
border: 1px solid transparent;
margin-bottom: 20px;
outline: 0;
}
#loguin form input:focus{
border-color: var(--rosa);
transition-duration: .2s;
}
#loguin form input:last-of-type{
margin-bottom: 30px;
}
#loguin form a{
color:var(--cinza);
text-decoration: underline;
}

#loguin form .recuperar{
display: block;
margin-bottom: 30px;
font-size: 14px;
line-height: 22px;
}

#loguin form button{
width: 100%;
line-height: 48px;
background-color: var(--rosa);
border: 0;
border-radius: 8px;
color: #F5F5F5;
font-size: 16px;
letter-spacing: 0.75px;
font-weight: bold;
cursor: pointer;
transition-duration:.2s;
}
#loguin form button:hover{
background-color: var(--rosa-hover);
}

#loguin form .form-footer{
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
}
#loguin form .form-footer p{
margin:0;
}
#loguin form .form-footer img{
margin-left: 20px;

}
